target/
.mvn-classpath
.classpath
.idea/
**.DS_Store**
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.core.resources.prefs
.project
.settings/org.eclipse.jdt.ui.prefs

# dependencies
kanbanapp/node_modules
kanbanapp/.pnp
kanbanapp/.pnp.js

# testing
kanbanapp/coverage

# production
kanbanapp/build

# misc
kanbanapp/.DS_Store
kanbanapp/.env.local
kanbanapp/.env.development.local
kanbanapp/.env.test.local
kanbanapp/.env.production.local

kanbanapp/npm-debug.log*
kanbanapp/yarn-debug.log*
kanbanapp/yarn-error.log*
