@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  font-family: "Open Sans", sans-serif;
}

table {
  width: 50vw;
  text-align: left;
  border: 1px;
  border-radius: 3px;
  border-color: whitesmoke;
  padding: 10px;
  background-color: darkcyan;
  margin-bottom: 50px;
}

th {
  padding-right: 20px;
  font-size: 14pt;
}

button:hover{
  cursor: pointer;
}

.sortButton {
  margin-left: 10px;
  width: 50px;
  height: 20px;
  border-width: 0px;
  border-radius: 10px;
}

.sortButton:hover {
  background-color: lightgray;
}

.deleteButton {
  width: 50px;
  height: 20px;
  border-width: 0px;
  border-radius: 10px;
  background-color: salmon;
}

.deleteButton:hover{
  background-color: rgb(255, 140, 105);
}


h1 {
  margin: 15px;
}

h2 {
  margin: 25px;
}

h3 {
  margin: 15px;
}

h4 {
  margin: 0px;
}

.addDiv {
  margin-bottom: 20px;
  text-align: left;
}

.inputField {
  color: gray;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
}

.clearInput {
  margin-left: 10px;
  border-color: white;
  border-style: solid;
}

.clearInputNum {
  margin-left: 10px;
  width: 100px;
  border-color: white;
  border-style: solid;
}

.updateDiv {
  text-align: left;
}

.modButton {
  height: 30px;
  width: 100px;
  border-width: 0px;
  background-color: #1e88e5;
  color: white;
  border-radius: 3px;
  border-color: #1e88e5;
  border-style: solid;
}

.modButton:hover {
  background-color: #187bd1;
}

select {
  background-color: white;
  height: 40px;
}

tr:hover {
  background-color: teal;
}

.tableLoaderDiv {
  margin: auto;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.majorRow {
  display: flex;
  width: 80vw;
  justify-content: left;
  vertical-align: top;
}

.colLeft {
  /* flex: 50%; */
  vertical-align: top;

  /* justify-content: center; */
  display: flex;
}

.colRight {
  /* flex: 50%; */
  margin-left: 20px;
  vertical-align: top;
  /* justify-content: center; */
  display: flex;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
